/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest/genome-scores.csv
/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest/genome-tags.csv
/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest/links.csv
/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest-small/links.csv
/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest/movies.csv
/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest-small/movies.csv
/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest/ratings.csv
/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest-small/ratings.csv
/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest/README.txt
/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest-small/README.txt
/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest/tags.csv
/5_Machine Learning intro a sistemas de recomendacao em Python/ml-latest-small/tags.csv
